In [2]:
import pandas as pd
from pathlib import Path

In [68]:
path_to_input_data = Path("/Users/paulschmitt/Downloads/pantheon.tsv")
path_to_output_data = Path("../../data/processed/entities")

In [47]:
data = pd.read_csv(path_to_input_data, delimiter="\t")

Filter for relevant attributes

In [48]:
data = data[["name", "domain"]]

Convert all names to lowercase

In [49]:
data['name'] = data['name'].str.lower()

Split the names so that we get first-, middle- and lastname separately

In [50]:
data['name'] = data['name'].str.split()

In [51]:
exploded_df = data.explode('name')

Filter out all names that have 3 or less characters in them, since these are mostly titles like "Dr" or titles of nobility

In [52]:
exploded_df = exploded_df[exploded_df['name'].apply(len) > 3]

In [53]:
exploded_df

                name        domain
0            abraham  INSTITUTIONS
0            lincoln  INSTITUTIONS
1          aristotle    HUMANITIES
2               rand    HUMANITIES
3              andre        SPORTS
...              ...           ...
11338      lithuania  INSTITUTIONS
11339           eric    HUMANITIES
11339       hobsbawm    HUMANITIES
11340        nikolai    HUMANITIES
11340  chernyshevsky    HUMANITIES

[22477 rows x 2 columns]

In [56]:
entity_counts = exploded_df.groupby('name')['domain'].value_counts().unstack(fill_value=0)

In [57]:
entity_counts['domain'] = entity_counts.idxmax(axis=1)

In [59]:
entity_counts.columns

Index(['ARTS', 'BUSINESS & LAW', 'EXPLORATION', 'HUMANITIES', 'INSTITUTIONS',
       'PUBLIC FIGURE', 'SCIENCE & TECHNOLOGY', 'SPORTS', 'domain'],
      dtype='object', name='domain')

In [60]:
entity_counts = entity_counts["domain"]

In [62]:
entity_counts = entity_counts.reset_index()

In [66]:
entity_counts

                   name        domain
0              "noynoy"  INSTITUTIONS
1            'ulukalala  INSTITUTIONS
2                  13th  INSTITUTIONS
3                  14th  INSTITUTIONS
4                `abbas  INSTITUTIONS
...                 ...           ...
12118          ọbasanjọ  INSTITUTIONS
12119     ‘abdu’l-hamid  INSTITUTIONS
12120  ‘abdu’l-muttalib  INSTITUTIONS
12121              シルショ          ARTS
12122              水木一郞          ARTS

[12123 rows x 2 columns]

In [70]:
entity_counts.to_csv(path_to_output_data / 'persons_pantheon_data.csv', index = False)